
:root{
	--mainColor: #035B62;
	--secondaryColor:#034c62;

	--borderColor:#034c62;

	--mainText: white;

	--themeDotBorder:#035B62;

	--contactColor: white;
	--footerColor: white;
	--scrolColor: #035B62;
}