
:root{
	--mainColor: #8D5552;
	--secondaryColor:#a17270;

	--borderColor:#a17270;

	--mainText: white;

	--themeDotBorder:#8D5552;

	--contactColor: white;
	--footerColor: white;
	--scrolColor: #8D5552;
}
